.custom-button{
    background-color: black;
    border: 2px solid black;
    max-width: inherit;
    color: white;
    padding: 10px;
    font-size: inherit;
    transition: 0.3s;
    cursor: pointer;
    &:hover{
        transform: scale(1.1);
        background-color: white;
        color: black;
    }
    &:active{
        transform: scale(0.8);
        background-color: black;
        color: white;
    }
}